@model IEnumerable<GeneralStoreMVC.Models.ProductModels.ProductIndex>

@{
    ViewData["Title"] = "Product Index";
}

<h1 class="text-center">All Products at General Store</h1>
<a class="text-warning" asp-action="Create">Add new Inventory</a>

<table class="table table-striped-colums table-dark table-hover table-bordered border-danger">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class = "text-info">
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="text-danger">Edit</a> |
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="text-warning">Details</a> |
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="text-success">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
