@model GeneralStoreMVC.Models.TransactionModels.TransactionDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TransactionTotal)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TransactionTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action = "Edit" class="text-warning" asp-route-id=@Model.Id>Edit</a> |
    <a asp-action = "Index" class="text-warning">Back To List</a>
</div>
