@model IEnumerable<GeneralStoreMVC.Models.CustomerModels.CustomerIndex>

@{
    ViewData["Title"] = " Customer Index";
}

<h1 class="text-center">All Customers for General Store</h1>
<a class="text-warning" asp-action="Create">Create A New Customer</a>

<div>
    <table class="table table-striped-colums table-dark table-hover table-bordered border-danger">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @customer.Id
                    </td>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        @customer.Email
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Customer", new { id = customer.Id }) |
                        @Html.ActionLink("Details", "Details", "Customer", new { id = customer.Id }) |
                        @Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.Id })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>